<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>564309313172-m5frfj7nqvtipgp34269acveet3futdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.564309313172-m5frfj7nqvtipgp34269acveet3futdg</string>
	<key>API_KEY</key>
	<string>AIzaSyC_7AD5uEVPB9fI72C2T8t8uD0F82UYkFc</string>
	<key>GCM_SENDER_ID</key>
	<string>564309313172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assetsElerning</string>
	<key>PROJECT_ID</key>
	<string>assets-elernning-1a64e</string>
	<key>STORAGE_BUCKET</key>
	<string>assets-elernning-1a64e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:564309313172:ios:334d2f80596a7afbaed681</string>
</dict>
</plist>